.Person {
  height: 350px;
  width: 220px;
  border: 1px solid black;
  background: blanchedalmond;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Person img {
  max-width: 90%;
  max-height: 100px;
  border: 1px solid black;
}

.Person h4, 
.Person p {
  margin: 20px 10px 20px 10px;
}

.Person button {
  width: 20px;
  height: 20px;
}
