.Person {
  height: 350px;
  width: 220px;
  border: 1px solid black;
  background: blanchedalmond;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px grey;
}

.Person img {
  max-width: 98%;
  max-height: 100px;
  border: 1px solid black;
}

.Person h4, 
.Person p {
  margin: 20px 10px 20px 10px;
  height: 30px;
}

.Person button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.Person div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 5px 10px 0px;
}
